mat-form-field {
    width: 100%;
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px !important;
    background-color: transparent;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
}

.colorAdd{
    padding: 0px;
    height: 24px;
    min-width: 24px;
}

.colorPreset {
    height: 24px;
    width: 24px;
    border-radius: 0.2rem;
    margin-bottom: 4px;
}

.colorPresetButton{
    padding:0px;
    margin:0px;
    min-width:24px;
}

.tabbedContent {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

.settingsButton {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 36px;
}

.sketch-swatches-container, .alpha, .sketch-alpha {
    display: none !important;
}

.sketch-picker {
    margin-top: 19px;
    margin-bottom: 10px;
}

.contextMenuDelete{
    color: #f44336;
}

.inline-button{
    padding: 0px;
    min-width: 30px;
    height: 30px;
    >span>i{
        font-size: 20px;
    }
}

.image-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 80% !important;
    width: 80% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow: wrap;
  }
  
  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-left: 5px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .table-wrapper {
    max-height: 172px;
    overflow-y: scroll;
    margin-bottom: 5px;
  }

  .mat-row:hover {
    border-color: black;
    cursor: pointer;
  }
